#main-carousel-container {
  display: table;
  border-collapse: collapse;
  font-family: 'Open Sans Condensed', sans-serif; }
  #main-carousel-container .static-block {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    z-index: 1;
    padding-left: 20px;
    padding-bottom: 10px; }
    #main-carousel-container .static-block h2 {
      margin-top: 15px; }
      #main-carousel-container .static-block h2 a {
        color: #fff; }
  #main-carousel-container .carousel-wrap {
    width: 272px;
    display: table-cell;
    border: 1px solid #eae4e4; }
    #main-carousel-container .carousel-wrap:hover .static-block {
      display: block; }
  #main-carousel-container .carousel-numbers {
    text-align: center;
    margin-bottom: 2px;
    font-size: 16px; }
  #main-carousel-container .carousel-controls {
    position: absolute;
    right: 1px;
    bottom: 1px;
    padding-right: 20px;
    padding-bottom: 20px; }
    #main-carousel-container .carousel-controls a span {
      background: #333;
      color: #fff;
      border-radius: 50%;
      padding: 5px; }
  #main-carousel-container .cat-info {
    margin-bottom: 50px;
    margin-top: 60px; }
  #main-carousel-container .cat-imgs {
    max-height: 115px;
    overflow: auto; }
    #main-carousel-container .cat-imgs a {
      display: inline-block;
      padding: 1px; }
      #main-carousel-container .cat-imgs a.cat-img-preview:hover {
        border: 1px solid #ccc;
        padding: 0; }
      #main-carousel-container .cat-imgs a.active {
        border: 1px solid #337ab7;
        padding: 0; }
        #main-carousel-container .cat-imgs a.active:hover {
          border: 1px solid #337ab7;
          cursor: default; }
  #main-carousel-container .right-arrow {
    position: absolute;
    right: 0;
    top: 50%;
    margin-right: -50px; }
    #main-carousel-container .right-arrow a span {
      background: #000;
      color: #fff;
      border-radius: 50%;
      padding: 5px;
      font-size: 20px; }
  #main-carousel-container .left-arrow {
    position: absolute;
    left: 0;
    top: 50%;
    margin-left: -50px; }
    #main-carousel-container .left-arrow a span {
      background: #000;
      color: #fff;
      border-radius: 50%;
      padding: 5px;
      font-size: 20px; }
