<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="container">
		<div class="row" id="main-carousel-container" ng-app="myApp" ng-controller="myCtrl">
			<div ng-repeat='carousel in carousels' class="carousel-wrap">
				<div id="carousel{{carousel.carouselId}}" class="carousel slide" data-interval="false">
					<div class="carousel-inner">
						<div ng-repeat="slide in carousel.slides" class="{{slide.slideClass}}">
							<img src="{{slide.slideImg}}">
						</div>
					</div>
					<div class="static-block hidden-xs">
						<h2>{{carousel.catName}}</h2>
						<h4>{{carousel.catAge}}</h4>
						<div class="carousel-controls">
							<p class="carousel-numbers">{{carousel.list_slideIndex}} of {{carousel.list_quantitySlides}}</p>
							<a class="left " href="#carousel{{carousel.carouselId}}" data-slide="prev" ng-click="prevSlider(carousel)">
								<span class="glyphicon glyphicon-chevron-left"></span>
							</a>
							<a class="right " href="#carousel{{carousel.carouselId}}" data-slide="next" ng-click="nextSlider(carousel)">
								<span class="glyphicon glyphicon-chevron-right"></span>
							</a>
						</div>
					</div>
				</div>
	    </div>
		</div>
	</div>
</body>
</html>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/common.js"></script>

<script>
	var app = angular.module('myApp', []);
	app.controller('myCtrl', function($scope) {
			$scope.carousels = [
				{list_quantitySlides: 3, list_slideIndex: 1, carouselId: 1, catName: 'Max', catAge: '3 years',
					slides: [
						{slideName: 'First slide', slideImg: 'assets/cat_rascal_2.png', slideClass: 'item active'},
						{slideName: 'Second slide', slideImg: 'assets/cat_eyes_2.png', slideClass: 'item'},
						{slideName: 'Third slide', slideImg: 'assets/cat_lady_2.png', slideClass: 'item'}
				]},

				{list_quantitySlides: 2, list_slideIndex: 1, carouselId: 2, catName: 'Tiger', catAge: '5 years',
					slides: [
						{slideName: 'First slide', slideImg: 'assets/cat_food_1.png', slideClass: 'item active'},
						{slideName: 'Second slide', slideImg: 'assets/cat_fat_1.png', slideClass: 'item'}
				]},

				{list_quantitySlides: 4, list_slideIndex: 1, carouselId: 3, catName: 'Oscar', catAge: '10 years',
					slides: [
						{slideName: '', slideImg: 'assets/cat_box_3.png', slideClass: 'item active'},
						{slideName: '', slideImg: 'assets/cat_sleep_3.png', slideClass: 'item'},
						{slideName: '', slideImg: 'assets/cat_paper_3.png', slideClass: 'item'},
						{slideName: '', slideImg: 'assets/cat_banjo_3.png', slideClass: 'item'}
				]},

				{list_quantitySlides: 1, list_slideIndex: 1, carouselId: 4, catName: 'Kitty', catAge: '1 year',
					slides: [
						{slideName: 'First slide', slideImg: 'assets/cat_drunk_4.png', slideClass: 'item active'}
				]},
			];
			$scope.prevSlider = function(item){
				item.list_slideIndex--;
 				if (item.list_slideIndex == 0) {
 					item.list_slideIndex = item.list_quantitySlides;
 				}
		  };
		  $scope.nextSlider = function(item){
				item.list_slideIndex++;
 				if (item.list_slideIndex > item.list_quantitySlides) {
 					item.list_slideIndex = 1;
 				}
		  };
	});
</script>
